<script lang="ts" setup></script>

<template>
  <div class="flex top-0 left-0 h-screen">
    <div class="w-1/3 bg-accentColor text-center flex flex-col items-center place-content-center">
      <span class="text-9xl text-stone-200 font-title">Welcome to Jitomate</span>
      <button class="rounded-lg bg-top p-4 text-title font-bold">Start</button>
    </div>
    <div
      class="w-2/3 bg-repeat bg-accentColor shrink"
      style="background-image: url('src/assets/img/welcome_pattern.svg')"
    ></div>
  </div>
</template>
