<script lang="ts" setup></script>

<template>
  <div
    class="item text-3xl px-3 py-5 transition ease-in-out delay-150 hover:-translate-y-2 duration-300"
  >
    <i> • </i>
    <span>
      <slot name="title"></slot>
    </span>
  </div>
</template>

<style scoped></style>
