<script lang="ts" setup>
import SideBarItem from '@/components/SideBarItem.vue'
</script>

<template>
  <div
    class="fixed top-0 left-0 right-0 bottom-0 bg-neutral-500 opacity-75 cursor-not-allowed"
    disabled="disabled"
  ></div>
  <div
    class="absolute top-0 left-0 bottom-0 h-full w-1/3 bg-title opacity-100 text-top p-5 flex flex-col"
  >
    <button
      class="w-min h-min mb-10 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
    >
      <span class="material-icons text-4xl">close</span>
    </button>
    <span class="font-title text-5xl pl-3 pr-3 pt-3 pb-20">Jitomate</span>
    <div class="grid grid-cols-1 divide-y divide-base">
      <SideBarItem>
        <template #title>Cosa 1</template>
      </SideBarItem>
      <SideBarItem>
        <template #title>Cosa 2</template>
      </SideBarItem>
      <SideBarItem>
        <template #title>Cosa 3</template>
      </SideBarItem>
      <SideBarItem>
        <template #title>Cosa 1</template>
      </SideBarItem>
      <SideBarItem>
        <template #title>Cosa 1</template>
      </SideBarItem>
      <SideBarItem>
        <template #title>Cosa 1</template>
      </SideBarItem>
      <SideBarItem>
        <template #title>Cosa 1</template>
      </SideBarItem>
    </div>
  </div>
</template>

<style scoped></style>
