<script lang="ts" setup></script>

<template>
  <div class="sticky top-0 left-0 right-0 flex flex-row bg-top">
    <div class="flex-none p-8">
      <span class="material-icons text-title font-black">menu</span>
    </div>

    <div class="grow shrink p-6 text-5xl text-title font-title text-right">Jitomate</div>
  </div>
</template>

<style scoped></style>
