<script lang="ts" setup>
import { RouterView } from 'vue-router'
import TheSideBar from '@/components/TheSideBar.vue'
import TheTopBar from '@/components/TheTopBar.vue'
</script>

<template>
  <div class="top-0 left-0 right-0 bottom-0 h-screen w-screen relative">
    <TheTopBar />
    <TheSideBar />
    <RouterView />
  </div>
</template>

<style scoped></style>
